body {
    min-width: 320px;
    line-height: 1.5;
    font-family: "Verdana", sans-serif;
    background-color: white;
  }
  
  * {
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 22px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  p {
    font-size: 18px;
  }
  
  .header-text1,
  .header-text2,
  .header-text3 {
    padding-left: 30px;
  }
  
  .header-text1 {
    font-size: 16px;
  }
  
  .header-text2 {
    font-size: 46px;
    -webkit-filter: drop-shadow(2px 2px 1px white);
    filter: drop-shadow(2px 2px 1px white);
  }
  
  .header-text3 {
    font-size: 14px;
  }
  
  .header-img {
    position: absolute;
    z-index: -1;
    top: 0px;
    right: -40px;
    width: 230px;
    height: auto;
    -webkit-filter: drop-shadow(5px 5px 5px purple)
      drop-shadow(-5px -5px 0 LightGray);
    filter: drop-shadow(5px 5px 5px purple) drop-shadow(-5px -5px 0 LightGray);
  }
  
  header {
    padding-top: 30px;
    padding-bottom: 30px;
    color: DarkCyan;
    font-size: 26px;
    font-weight: 600;
  }
  
  #navbar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    min-width: 250px;
    border-right: 1px gray solid;
    background-color: SeaShell;
  }
  
  #navbar a {
    display: block;
    width: 100%;
    margin: auto;
    padding: 25px;
    cursor: pointer;
    color: #444;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-top: 0.5px gray solid;
    border-bottom: 0.5px gray solid;
  }
  
  #navbar a:hover {
    color: purple;
    text-decoration: none;
    background-color: white;
  }
  
  #main-doc {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 280px;
    background-color: white;
  }
  
  section {
    padding: 30px;
    border-top: 1px solid purple;
  }
  
  code {
    padding: 2px;
    color: purple;
    font-size: 20px;
    background-color: Lavender;
  }
  
  .img {
    float: right;
    width: 230px;
    height: auto;
    padding-right: 30px;
    -webkit-filter: drop-shadow(5px 5px 5px purple)
      drop-shadow(-5px -5px 0 LightGray);
    filter: drop-shadow(5px 5px 5px DarkCyan) drop-shadow(-5px -5px 0 LightGray);
  }
  
  @media only screen and (max-width: 815px) {
    #navbar {
      position: absolute;
      z-index: 2;
      top: 0;
      width: 100%;
      max-height: 330px;
      overflow-x: hidden;
      border-bottom: 1px gray solid;
    }
  
    .header-img {
      top: -60px;
    }
  
    #main-doc {
      position: relative;
      top: 320px;
      left: 0px;
    }
  
    section {
      padding: 30px;
    }
  }
  